!!! 5

- var title_lower = title.toLowerCase()

html
	head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mikonam: http://ogp.me/ns/fb/mikonam#')
		title Mikoni | #{title}
		meta(property='fb:app_id'      , content='282925545059633')
		meta(property='og:type'        , content='mikonam:chi')
		meta(property='og:url'         , content='http://www.mikoni.se/#{url}')
		meta(property='og:title'       , content='#{title}')
		meta(property='og:description' , content='Mikonam #{title}!')
		meta(property='og:image'       , content='http://www.mikoni.se/img/mikoni.png')
		link(rel='stylesheet', href='/css/style.css')

	body
		#fb-root
		script(src='/js/fbinit.js')
		script(src='/js/mikoni.js')

		div#root!= body
